$red: rgba(255, 0, 0, 1);

body {
    margin: 50px 100px;
}

h1 {
    color: $red;
    line-height: 0px
}

h4 {
    margin-bottom: 70px;
}

.nappula {
    margin-top: 20px;
    padding: 20px;
    background-color: lightGray;

    button {
        margin-left: 50px;
    }
}

.megaNappula {
    margin-top: 20px;
    padding: 20px;
    font-size: 100px;
    font-weight: bold;
    color: gray;
    background-color: whiteSmoke;
}

.card {
    width: 80px;
    height: 150px;
    margin: 3px;
    padding: 10px;
    background-color: whiteSmoke;
}

.list {
    float: left;
    margin: 3px;
    padding: 10px;
    background-color: lightGray;
}

.done {
    text-decoration: line-through;
}
